 <template name="enter_participant">
   	<form id="enter_participant">
  		<label for="participant1_waves_address" class="ui-state-default text label_setting" >Адрес WAVES: </label>
		<input type="text" id="participant1_waves_address" name="participant1_waves_address" 
		class="ui-combobox-input ui-state-default ui-autocomplete-input ui-widget ui-widget-content ui-corner-all object"
		value="3Mrfg23sCV9UFqYQYS5oEoMzmXdvmtMkMKW" />
		<br/>
		<label for="participant1_bitcoin_address" class="ui-state-default text label_setting">Адресс БИТКОИН: </label>
  		<input type="text" id="participant1_bitcoin_address" name="participant1_bitcoin_address" 
		class="ui-combobox-input ui-state-default ui-autocomplete-input ui-widget ui-widget-content ui-corner-all object"
		value="mmtGYdEbVj3FZSmEUSvgRwtcivdTqXnk2H" />
  		<br/>
		<label for="participant1_signature" class="ui-state-default text label_setting">Подпись: </label>
  		<input type="text" id="participant1_signature" name="participant1_signature" 
		class="ui-combobox-input ui-state-default ui-autocomplete-input ui-widget ui-widget-content ui-corner-all object"
		value="H5pk6Mg2FJEHk1XtaOVoMDagaDHwJwE3pTfk6rumzBt7d3NMrct0B8+bvu0gt8fh+MSKFvnMIQp+3EhDA6850zw=" />
  		<br/>
		<input type="submit" id="savePartisipant_btn" value="Сохранить">
		<br/>
   	</form>
</template>
