 <template name="tab_settings">
  	<label for="tabs_setting_count" class="ui-state-default text label" >Количество токенов ЭРГО:</label>
  	<input type="text" id="tabs_setting_count" name="tabs_setting_count" 
    	class="ui-combobox-input ui-state-default ui-autocomplete-input ui-widget ui-widget-content ui-corner-all object"
    	value="" />
	<input type="button" id="tabs_setting_count_btn" value="Получить токены Эрго">
  	<br/>
  	<br/>

  	<label for="tabs_setting_height" class="ui-state-default text label" >Высота блока Bitcoin:</label>
  	<input type="text" id="tabs_setting_height" name="tabs_setting_height" disabled="disabled" 
    	class="ui-combobox-input ui-state-default ui-autocomplete-input ui-widget ui-widget-content ui-corner-all object"
    	value="" />
	<input type="button" id="tabs_setting_height_btn" value="Рассчитать Таблицу распределения">
	<br/>
</template>
